.calendar {
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color: var( --muted-color );
}

.calendar .l0 { background: var( --l0 ) }
.calendar .l1 { background: var( --l1 ) }
.calendar .l2 { background: var( --l2 ) }
.calendar .l3 { background: var( --l3 ) }
.calendar .l4 { background: var( --l4 ) }

.calendar .header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0 0 6px 32px;
}

.calendar .weekdays {
    position: absolute;
    display: grid;
    grid-template-rows: repeat( 7, 1fr );
    gap: 1px;
}

.calendar .grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2px;
    margin-left: 32px;
}

.calendar .week {
    display: grid;
    grid-template-rows: repeat( 7, 1fr );
    gap: 2px;
}

.calendar .day {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 2px;
}

.calendar .day:hover {
    filter: brightness( 1.6 );
    cursor: help;
}

.calendar .legend {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: flex-end;
    margin-top: 16px;
}

.calendar .legend .day {
    width: 12px;
    height: 12px;
}

.calendar .legend .day:first-of-type {
    margin-left: 6px;
}

.calendar .legend .day:last-of-type {
    margin-right: 6px;
}
