.dashboard {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.dashboard-profile {
    grid-column: 1 / span 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
}

.dashboard-profile--avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.dashboard-profile--name {
    font-size: 24px;
    font-weight: 500;
}

.dashboard-profile--login {
    font-size: 20px;
    font-weight: 300;
    color: var( --muted-color );
}

.dashboard-profile--bio {
    margin: 12px 20% 20px 0;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
}
