@font-face {
    font-family: 'Noto Sans';
    src: url( ./NotoSans.woff2 ) format( 'woff2' );
}

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    src: url( ./NotoSans-Italic.woff2 ) format( 'woff2' );
}

:root {
    --content-width: 1260px;
    --font-sans: 'Noto Sans', sans-serif;
    --bg-color: #0d1117;
    --text-color: #ffffff;
    --muted-color: #9198a1;
    --box-color: #010409;
    --hover-accent: #656c7633;
    --border-color: #3d444d;
    --accent-color: #4493f8;
    --hover-color: #2a7aef;
    --border-radius: 6px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-underline-offset: 16%;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    user-select: none;
    scrollbar-width: none;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}

html {
    font-family: var( --font-sans );
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    color: var( --text-color );
    background-image: linear-gradient(
        170deg,
        var( --box-color ),
        var( --bg-color ) 33%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style: none;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: var( --accent-color );
}

a:hover {
    text-decoration: underline;
    color: var( --hover-color );
}

a.btn, a.btn:link, a.btn:visited {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var( --text-color );
    background: var( --hover-accent );
    border-radius: var( --border-radius );
}

a.btn:hover, a.current {
    text-decoration: none;
    color: var( --text-color ) !important;
    background: var( --hover-color ) !important;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
    max-width: var( --content-width );
    padding: 0 20px;
}

header .logo {
    width: 64px;
    height: 64px;
}

header h1 {
    font-size: 22px;
}

header nav {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

main {
    margin: 60px auto;
    max-width: var( --content-width );
    padding: 0 20px;
}

main .box {
    margin-bottom: 20px;
    padding: 20px;
    background: var( --box-color );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

main .box-hl {
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 500;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
    max-width: var( --content-width );
    padding: 0 20px;
    font-size: 13px;
    font-weight: 500;
}
