.contribs-info {
    display: grid;
    grid-template-columns: 7fr 1px 4fr;
    gap: 20px;
}

.contribs-info--divider {
    background: var( --border-color );
}

.contribs-info .chart {
    width: 100%;
    height: 200px;
}

.contribs-info--stats {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 1px;
    background: var( --border-color );
}

.contribs-info--stats .item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background: var( --box-color );
}

.contribs-info--stats .item b {
    font-size: 18px;
    font-weight: 600;
}

.contribs-info--stats .item span {
    font-size: 13px;
    font-weight: 300;
    color: var( --muted-color );
}
