.dashboard-contribs {
    display: grid;
    grid-template-columns: 7fr 1px 3fr;
    gap: 20px;
}

.dashboard-contribs--divider {
    background: var( --border-color );
}

.dashboard-contribs--info {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 300;
}

.dashboard-contribs--info b {
    font-weight: 500;
}

.dashboard-contribs--radar {
    align-self: center;
}

.dashboard-activity {
    display: grid;
    grid-template-columns: 7fr 1px 4fr;
    gap: 20px;
}

.dashboard-activity .chart {
    width: 100%;
    height: 200px;
}

.dashboard-activity--divider {
    background: var( --border-color );
}

.dashboard-followers--grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    gap: 20px;
}

.dashboard-followers--grid .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.dashboard-followers--grid .item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
