.repo-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 18px;
}

.repo-badge {
    font-size: 20px;
}

.repo-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-weight: 300;
}

.repo-name a {
    font-weight: 600;
}

.repo-status {
    padding: 0 8px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    color: var( --muted-color );
    border: 1px solid var( --muted-color );
    border-radius: 10px;
}

.repo-desc {
    margin: 12px 20% 20px 0;
    color: var( --muted-color );
}

.repo-topics {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 6px;
    margin: 20px 0;
}

.repo-topics li {
    padding: 0 8px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var( --accent-color );
    background: var( --hover-accent );
    border-radius: 10px;
}
