.stats-grid {
    display: grid;
    grid-template-columns: repeat( 7, 1fr );
    gap: 20px;
    margin: 40px 0;
}

.stats-grid .item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.stats-grid .item i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: var( --hover-accent );
    border-radius: 50%;
}

.stats-grid .item b {
    margin: 8px 0 2px;
    font-size: 25px;
    font-weight: 600;
}

.stats-grid .item span {
    font-size: 13px;
    font-weight: 300;
    color: var( --muted-color );
}
